* { color: white; }
a:hover {
    color: orange;
}
section {
    padding: 1.5rem;
}
li {
    margin-bottom: 0.5rem;
}
.aboutUsDetails {
    text-indent: 2rem;
    display: flex;
    width: 60%;
    font-size: 1.1rem;
    margin: 2rem;
}
.aboutUsImage {
    width: 20rem;
    padding: 0.5rem;
    background-color: white;
    margin-left: 1rem;
}


@media screen and ( min-width: 660px ) and ( max-width: 980px ) {}

@media screen and ( max-width : 659px ) {}
