<section>
<h1>About us:</h1>
<p class="aboutUsDetails">
    Dropkick Murphys are an American Celtic punk band formed in Quincy, Massachusetts in 1996. Singer and bassist Ken Casey has been the band's only constant member.
    In 2007, the band began releasing music through their own imprint label, Born & Bred via Alternative Distribution Alliance. 2007's The Meanest of Times made its debut at No. 20 on the Billboard charts and featured the successful single, "The State of Massachusetts", while 2011's Going Out in Style was an even bigger success, making its debut at No. 6, giving the band their highest-charting album to date.
    <img class="aboutUsImage" src="/assets/images/image7.jpg"/>
</p>

<p class="aboutUsDetails">
    The band's early influences were punk bands like Greenland Whalefishers, Swingin' Utters, the Ramones, the Clash, and Sex Pistols, as well as the Pogues and Irish bands such as Stiff Little Fingers and the Dubliners.
    When they wrote their first song, Barroom Hero, they were surprised to hear how much the vocal melody sounded like those from old Irish music they heard as children, something the band-members at one time tried to reject. "It dawned on us that Irish music was a bigger influence on all of us than we'd realized," said Ken Casey. "Growing up in Boston, every time you went to a wedding or a wake or your grandparents' house, you heard that music. I went through a phase of hating it just because it's what my folks listened to."
    <img class="aboutUsImage" src="/assets/images/image4.jpg" />
</p>

<ul class="newsLinks">
    <h3>News:</h3>
    <li><a href="https://metalplanetmusic.com/2023/01/gig-review-dropkick-murphys-are-good-as-gold-in-belfast/">Gig Review : Dropkick Murphys are Good as Gold in Belfast</a></li>
    <li><a href="https://www.punknews.org/article/79396/dropkick-murphys-announce-new-album-release-i-know-how-it-feels-video">Dropkick Murphys announce new album, release “I Know How It Feels” video</a></li>
    <li><a href="https://www.wptv.com/lifestyle/sunfest/dropkick-murphys-to-play-some-songs-from-new-album-at-sunfest">Dropkick Murphys to play some songs from new album at SunFest</a></li>
    <li><a href="https://www.hotpress.com/music/dropkick-murphys-release-bring-it-home-video-22971393">Dropkick Murphys release ‘Bring It Home’ video
    </a></li>
</ul>
</section>