* { color: white; }
a:hover {
    color: orange;
}
section {
    padding-left: 1rem;
}
li {
    margin-bottom: 0.5rem;
}
.aboutUsDetails {
    text-indent: 2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.aboutUsDetails p {
    width: 40%;
}
.aboutUsImage {
    width: 35rem;
    padding: 0.5rem;
    background-color: white;
    margin: 1rem
}

@media screen and ( min-width: 801px ) and ( max-width: 980px ) {
    .aboutUsDetails {
        flex-wrap: nowrap;
    }
    .aboutUsImage {
        width: 50%;
    }
}

@media screen and ( max-width : 800px ) {
    a {
        font-size: 0.7rem;
    }
    .aboutUsDetails {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .aboutUsDetails p {
        width: 80%;
    }
    .aboutUsImage {
        width: 15rem;
    }
}
