<section>
    <h2>Subscribe to our newsletter:</h2>
    <form class="newsletter">
        <label class="name" for="name">Name:</label>
        <input type="text" id="name" autocomplete="given-name" placeholder="Enter you name.">
        <label class="email" for="email">E-mail:</label>
        <input type="email" id="email" autocomplete="off" placeholder="Enter you e-mail.">
        <label class="message" for="message">Message:</label>
        <textarea id="message"></textarea>
        <button class="submit" type="submit">Submit</button>
    </form>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8936.48969775086!2d-3.190879!3d55.94725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c79ad6dfde3b%3A0xd81ed5ab10632abf!2sDropkick%20Murphys!5e0!3m2!1sen!2srs!4v1689166234526!5m2!1sen!2srs" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>