app-image {
    margin-top: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 1.5rem;
}


@media screen and ( min-width: 660px ) and ( max-width: 980px ) {
    app-image {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and ( max-width : 659px ) {
    app-image {
        grid-template-columns: 1fr;
    }
}