<a><img class="showMenu" src="/assets/favicon.ico" /></a>
<ul>
    <li class="link"><a routerLink="/about-us">About us</a></li>
    <li class="link"><a routerLink="/music">Music</a></li>
    <a routerLink="/"><img class="logo smallScreen" src="/assets/images/dropkick.png" /></a>
    <a routerLink="/"><img class="logo largeScreen" src="/assets/images/dropkick.png" /></a>
    <li class="link"><a routerLink="/gallery">Gallery</a></li>
    <li class="link"><a routerLink="/contact">Contact</a></li>
</ul>