a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.mainNav {
    height: 150px;
    margin: 0;
    padding: 0;
    background-color: black;
    border-bottom: 2px solid white;
} 
ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.showMenu {
    display: none;
    width: 5rem;
    height: 5rem;
    padding: 0.3rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 35px; left: 20px;
}
.logo {
    padding: 0;
    margin: 0;
    width: 300px;
}
.link {
    text-align: center;
    width: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and ( min-width: 660px ) and ( max-width: 980px ) {
    .logo {
        width: 150px;
    }
    a {
        font-size: 1rem;
    }
    li {
        width: 5rem;
    }
}
@media screen and ( max-width : 659px ) {
    .showMenu {
        display: block;
    }
    .logo {
        width: 150px;
        position: absolute;
        top: 35px;
        left: 100px;
    }
    .mainNav  {
        width: 100%;
        right: 10px;
    }
    ul {
        padding-right: 1rem;
        flex-direction: column;
        align-items: end;
    }
    .link {
        text-align: end;
    }
    .link a {
        font-size: 1rem;
    }
}