.tourDate { 
    font-size: 2rem;
    color: white;
}
.tourRow {
    background-color: rgba(128, 128, 128, 0.253);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 0.3rem;
}
.tourLocation {
    font-size: 2rem;
    color: white;
    margin-left: 1.5rem;
    flex-grow: 1;
}
.tourTicket {
    font-size: 1.5rem;
    outline: none;
    color: lightgreen;
    background-color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 3rem;
    cursor: pointer;
}
.tourRow:hover {
    background-color: gray;
}


@media screen and ( min-width: 700px ) and ( max-width: 980px ) {
    .tourTicket, .tourDate, .tourLocation {
        font-size: 1rem;
    }
    .tourLocation, .tourTicket {
        margin-left: 1rem;
    }
    
}

@media screen and ( max-width : 699px ) {
    .tourRow {
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
    }
    .tourDate,.tourLocation,.tourTicket {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    .tourTicket {
        padding: 0.3rem;
    }
}