.landingPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.homeHero {
    position: relative;
    width: 100vw;
    z-index: 0;
}
.tours {
    margin-top: 2rem;
    width: 70vw;
    z-index: 1;
    position: absolute;
}


@media screen and ( min-width: 660px ) and ( max-width: 980px ) {}

@media screen and ( max-width : 699px ) {
    .tours {
        width: 15rem;
    }
    .homeHero {
        display: none;
    }
}